.list {
  display: flex;
  flex-direction: column;
}

.total {
  align-items: center;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem auto;
  padding: 1rem 0;
}

.total > h2 {
  color: var(--secondary-color);
  margin-right: 1rem;
}

.total > p {
  font-size: var(--large-font);
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.buttons > button {
  margin-right: 1rem;
}
