.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  width: 100vw;
}

.logo {
  font-family: 'Open-Sans', sans-serif; /* TODO: set globally */
  font-size: var(--xlarge-font);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.logo-link {
  color: var(--primary-color);
}

.sub {
  color: var(--secondary-color);
  font-size: var(--small-font);
}
