.header {
  background: #fdf1d5;
  box-shadow: 0 0 1px 0 #222;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100vw;
}

.logo {
  color: #222;
  font-family: 'Open-Sans', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.logo-link {
  color: #222;
}
