.item {
  display: flex;
  justify-content: space-between;
  border: 3px solid var(--primary-font-color);
  color: var(--primary-font-color);
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: 1rem;
  min-width: 300px;
}

.properties {
  align-items: center;
  display: flex;
}

.selected {
  color: var(--secondary-font-color);
  margin-left: 10px;
  font-size: .8rem;
  font-weight: bold;
}

.quantity {
  margin-left: 5px;
}

.delete {
  color: var(--secondary-font-color);
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color .2s;
}

.item:hover .delete,
.item:focus .delete {
  color: var(--primary-font-color);
}
