.item {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  margin-top: .5rem;
  min-width: 300px;
  padding: 1rem;
}
.item:hover .delete,
.item:focus .delete {
  color: var(--primary-color);
}

.properties {
  align-items: center;
  display: flex;
}

.selected {
  color: var(--secondary-color);
  font-size: .8rem; /* TODO: store as var */
  font-weight: bold;
  margin-left: 10px;
}

.quantity {
  margin-left: 5px;
}

.delete {
  background: none;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 1.5rem; /* TODO: store as var */
  transition: color .2s;
}
