.list {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.item-link {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  display: block;
  margin: 1rem;
  padding: 5px;
  transition: box-shadow 0.2s;
}

.active {
  box-shadow: 0 5px 0 0 var(--accent-color);
}

@media (min-width: var(--upper-breakpoint)) {
  .list { display: none };
}
