.item {
  box-shadow: 0 0 0 3px var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  min-width: 250px;
  transition: box-shadow 0.2s;
}
.item:hover {
  box-shadow: 0 0 0 3px var(--primary-color);
}

.header {
  border-bottom: 3px solid var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  justify-content: space-between;
  transition: border 0.2s;
}
.item:hover .header {
  border-bottom: 3px solid var(--primary-color);
}

.header-item {
  letter-spacing: -1px;
  padding: 1rem;
  text-transform: uppercase;
}

.stock {
  align-items: center;
  border-left: 3px solid var(--secondary-color);
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  line-height: 19px;
  min-height: 60px;
  min-width: 60px;
  padding: 5px;
  text-align: center;
  transition: border 0.2s;
}
.item:hover .stock {
  border-left: 3px solid var(--primary-color);
}

.price {
  font-size: 2rem;
  margin: 1rem auto;
}

.unit {
  font-size: .8rem;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}

.cart {
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem;
}

.cart-controls {
  align-items: center;
  display: flex;
  margin: 1rem auto;
  justify-content: space-around;
}

.selected {
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 50px;
  text-align: center;
}

.out {
  font-weight: bold;
  margin: 3rem auto;
  text-transform: uppercase;
}
